---
http_interactions:
- request:
    method: get
    uri: https://api.sunrisesunset.io/json?date_end=2025-09-02&date_start=2025-09-01&lat=40.7128&lng=-74.0060
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"date":"2025-09-01","sunrise":"6:24:37 AM","sunset":"7:30:21
        PM","first_light":"4:48:00 AM","last_light":"9:06:58 PM","dawn":"5:56:32 AM","dusk":"7:58:27
        PM","solar_noon":"12:57:29 PM","golden_hour":"6:53:52 PM","day_length":"13:05:43","timezone":"America/New_York","utc_offset":-240},{"date":"2025-09-02","sunrise":"6:25:36
        AM","sunset":"7:28:44 PM","first_light":"4:49:18 AM","last_light":"9:05:02
        PM","dawn":"5:57:34 AM","dusk":"7:56:46 PM","solar_noon":"12:57:10 PM","golden_hour":"6:52:18
        PM","day_length":"13:03:08","timezone":"America/New_York","utc_offset":-240}],"status":"OK"}'
  recorded_at: Mon, 01 Sep 2025 01:49:57 GMT
recorded_with: VCR 6.3.1
